@import "tailwindcss";


@theme {
  /* ------------------------------------- */
  /* Font family */
  
  --font-primary: "Poppins", serif;

  /* ------------------------------------- */

  /* Colors */

  /* Green family */
  --color-primary-1: #0f9e94;
  --color-primary-2: #06413d;
  --color-primary-3: #1c252e;
  --color-primary-4: #7CE200;
  
  
  /* screen size */
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  /* ------------------------------------- */
}